@using jenpstock.Controllers

@model Newtonsoft.Json.Linq.JToken
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div class="container">

            @foreach (var item in Model)
            {


                <li class="list-group-item">@item</li>


            }

    </div>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>