@using ParttrapDev.Controllers

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head></head>
<body>
    <h3>Stock: @ViewBag.Stockcode</h3>
    <h3>Result: @ViewBag.Product</h3>
    <h3>Result2: @ViewBag.ProductTest</h3>
    
    @*<ul>
        @foreach (Stock.Product sp in Model)
        {
            <li>@sp.ProductID</li>
        }
    </ul>*@
    
    

</body>
</html>