@using jenpstock.Controllers
@model List<Google.Apis.ShoppingContent.v2.Data.Product>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        @foreach (var product in Model)
        {
            <p><img src="@product.ImageLink" /></p>
        }
    </div>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>