@using jenpstock.Controllers

@model List<jenpstock.Model.Product>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <ul>
            @foreach (var item in Model)
            {
                string img = "http://one.dev.parttrap.com";

                <li class="list-group-item">
                    <img src="@img@item.AdditionalValues.ImageUrl" />
                    @item.Description
                </li>
            }
        </ul>
    </div>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>